
#navbar {
    background-color: lightgreen;
    width: 100%;
    height: 40px;
}

#navbar a{
    color: black;
    text-decoration: none;
}

ul { 
   width: 100%;
   display: flex; 
   list-style: none;

}

#navbar li{
    flex: 1 0 auto;
    font-family: 'Courier New', Courier, monospace;
   }

#navbar a:hover {
    color: orange;

}
.container { 
    
    display: flex;
    width: 960px;
    margin:auto;
  
}
.centrado {
    width: 100%;
    display: flex;
}

.centrado img{
    margin: auto;
}


.banner { 
    
    border: solid; 
    border-color: coral;
    
}

.banner img {
    max-width: 100%;
}

.why {
    
    width: 100%;
    margin-bottom: 20px;
}

.why h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    

}



.hijo {

    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    }

.cajota {
    width: 100%;
    
}

.cajas {

    width: 100%;
    height: auto;
    background: white;
    display: flex;
    /* display: flex; */
    /* align-content: flex-start;  */
}


.boxes {
     
    flex-grow: 1;
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 10px; 
    background-color:yellow;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'courier new', courier, monospace;
    text-align: center;
    padding: 50px;
   
    
}
.coral {
    background-color:coral;
}
.pink {
    background-color: pink;
}
.blue {
    background-color: aqua;
}
.morado {
    background-color: blueviolet;
}
.grey {
    background-color: grey;
}
.green {
    background-color: yellowgreen;
}
.hija {

    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.shit{

  width: 100%;
  background-color: orange;
  margin-left: 0px;
  

}

.shit a{ 
    color: black;
    text-decoration: none;
    
}

.shit a:hover {
    color: greenyellow;
}

.shit li {
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;

}


@media screen and (max-width: 959px) {
.container {
    width: 100%;
    }
#navbar {
    width: 100%;}

.centrado img {
    width: 100%;
}
}

@media screen and (max-width: 640px) {
 .container {
  width: 100%;
   }
#navbar {
 width: 100%;
}
    
.centrado img {
    width: 100%;
}
    
}


